body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 50px;
}
.App button {
  background: #00ffcc;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}
.App button:hover {
  background: #00cc99;
}